<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Please validate your email in order to register account</title>
  </head>
  <body>
    <h1>Login in your account</h1>
    <p>Hello! We have noticed new login to your account</p>
    <p>Additional inforamtion:</p>
    <ul>
      <li>IP: <%= privacyInfo.ip %></li>
      <li>User Agent: <%= privacyInfo.userAgent %></li>
    </ul>
  </body>
</html>
