<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Please validate your email in order to register account</title>
  </head>
  <body>
    <h1>Email validation</h1>
    <p>
      Hello! We have recieved your request for account registration in our
      service
    </p>
    <p>
      In order to proceed with your registration please validate your email with
      link below
    </p>
    <a href="<%= link %>">Link to validate email</a>
    <p>If it is not your account, please, ignore this message</p>
  </body>
</html>
